html{
  background-color: color:RED;
}

body{
  font-family: "Segoe UI", "Lucinda Grande", Tahoma, sans-serif;
  font-size: 100%;
  color:BLACK;
}
#status{
  /*avoid an excessivley wide status text*/
  white-: pre;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 400px;
}
