<!DOCTYPE html>
<!-- This page is shown when the extension button is clicked-->
<html hola_ext_inject = "disabled">
<html ng-app>
<head>
  <link rel="stylesheet" type="text/css" href="ladybug.css" media="screen" />
  <script type="text/javascript">
    function URLController($scope){
        $scope.sites=[];
        $scope.addSite=function(){
            $scope.sites.push($scope.newSite);
        }
    }
</script>
</head>
<body>

  <!--Blacklist list--><!--Submit links for blacklist here-->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js"></script>
  <div ng-controller="URLController">
     <input type="text" ng-model="newSite">
     <button ng-click="addSite()">Submit</button>

      <hr/>
      List of Blacklisted Sites :
      <ul><li ng-repeat="site in sites">{{site}}</li></ul>
  </div>

<br>
<br>
  <div style="float:right">
  <a href="popup.html">
    <button type="button">Home</button>
  </a>
</div>
</body>
</html>


<!-- <!doctype html>
<html ng-app>
<head>
<script type="text/javascript">
    function URLController($scope){
        $scope.sites=[];
        $scope.addSite=function(){
            $scope.sites.push($scope.newSite);
        }
    }
</script>
</head>
<body>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js"></script>
<div ng-controller="URLController">
   <input type="text" ng-model="newSite">
   <button ng-click="addSite()">Submit</button>

    <hr/>
    List of Blacklisted Sites :
    <ul><li ng-repeat="site in sites">{{site}}</li></ul>
</div>
</body> -->
